.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0;
  background-color: #f5f5f5;
}

.header p {
  font-size: 12px;
  margin-left: 12px;

}
.header-search {
  position: relative;
}
.header-search .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.header-search input{
  padding: 10px 300px 10px 40px;
  background-color: transparent;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
}

.header-more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}